@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

#root {
    height: 100%;
    width: 100%;
    background-color: #1b1c1c;
}

.main-nav {
    padding: 0.5rem;
    width: 300px;
    position: fixed;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4f4f4f4a;
    border-radius: 15px;
}